*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-image: url("./photo/pexels-pixabay-47344.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container
{
    width: 900px;
    height: fit-content;
    background-color: rgba(2, 1, 1, 0.5);
    margin: auto;
    margin-top: 10%;
}
table
{
    width: 100%;
  
}
input
{
    width: 99%;
    height: 55px;
    margin-top: 60px;
    font-size: 45px;
}
select
{
    width: 100%;
    text-align: center;
    font-size: 40PX;
    margin-top: 45px;
}
button
{
    width: 100%;
    text-align: center;
    font-size: 40PX;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 65px;
}
h1
{
    text-align: center;
    color: white;
    font-size: 60px;
}
select,option:hover
{
    background-color: rgb(24, 192, 24);
   
}